*{margin: 0px; padding: 0px;}

body{
   width: 100%;
   height: auto;
   /* NOTE: Dando Flex */
   display: flex;
   flex-direction: column;
}

img{
   max-width: 100%;
}
picture{
   width: 90%;
}

/* NOTE: Empiezan los estilos de la cabecera */
header{
   width: 100%;
   height: 8em;
   background-color: rgb(233, 106, 82);
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 2em;
}


nav{
   width: 100%;
   margin-top: 3em;
}

nav>ul{
   width: 100%;
   display: flex;
   justify-content: space-around;
}

header > nav > ul{
   list-style: none;
}

h2,h3{
   font-size: 3em;
   text-indent: 20px;
}

.superPolifil,.productos, .socios,footer{
   width: 100%;
}
.parrafo{
   width: calc(100% -1.5em);
   margin: 1.5em;
   font-size: 1.5em;
   text-align: justify;
}


/***********************Terminan los estilos de la cabecera*********************/

/***********************Empiezan los estilos para el main y sus elementos******/

.parallax{
   width: 100%;
   height: 600px;
}
.empresa{
   display: flex;
   flex-wrap: wrap;
}
.superPolifil{
   display: flex;
   width: 100%;
   height: 100vh;
   flex-wrap: wrap;
}
h3{
   line-height: 100px;
}


/*Contenedor del Mapa de Google.*/
.container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
}


#gmap{
   width: 80%;
   height: 450px;
   max-width: 100%;
   max-height: 100vh;
   box-shadow: 2px 2px 2px 2px;
   margin-bottom: 20px;
}


/***********************Swiper Slider*********/
.swiper-container {
   margin-top: 2em;
   margin-bottom: 2em;
    width: 100%;
    height: 90vh;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/*****************Tiny-Tweaks , Off-Canvas****************/


@media (max-width: 1200px){
   header{
      font-size: 1.3em;
   }
   h2,h3{
      font-size: 2em;
   }
   .parrafo{
      font-size: 1.3em;
   }
}

@media (max-width: 720px){
   h1{
      font-size: 1.3em;
   }

   h2,h3{
      font-size: 1.5em;
   }

   .parrafo{
      font-size: 1.1em;
   }

   .off-canvas{
   flex-wrap: wrap;
   width: 100%;
   height: 100vh;
   position: absolute;
   top: 0px;
   transform: translate(-100%, 0);
   transition: transform 0.3s ease-out;
   line-height: 5em;
   text-align: center;
   font-weight: bold;
   z-index: 2;
   }

   .elem{
      width: 100%;
      background-color: rgb(246, 152, 75);
   }

   .open{
      /* NOTE: Se agrega con JS */
      transform: translate(0,0);
   }
}
